{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Ing. Walter Cun{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>

{% block navigation %}
    <!-- Aquí puedes incluir la barra de navegación -->
{% endblock %}

{% block content %}
    <!-- Contenido principal de la página -->
{% endblock %}

{% block footer %}
    <!-- Aquí puedes incluir el pie de página -->
{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>