{% extends "base.html" %}
{% load i18n %}


{% comment %}Translators: por favor se creativo{% endcomment %}
<h1>{% trans '¡Bienvenido a nuestro sitio!' %}</h1>

{% block content %}
<p>
   {% blocktrans trimmed %}
       Conoce nuestro servicio del mes {{ service.name }}
   {% endblocktrans %}
</p>
{% endblock %}